@model ST10299399_PROG7311_GreenEnergy_POE.Models.Farmer

@{
    ViewData["Title"] = "Add Farmer";
}

<h1>Add Farmer</h1>

<form asp-action="AddFarmer" method="post">
    <div class="form-group">
        <label for="FarmerName">Farmer Name</label>
        <input type="text" class="form-control" id="FarmerName" name="FarmerName" required />
    </div>
    <div class="form-group">
        <label for="FarmerSurname">Farmer Surname</label>
        <input type="text" class="form-control" id="FarmerSurname" name="FarmerSurname" required />
    </div>
    <div>
        <label for="FarmerPhone">Farmer Phone</label>
        <input type="text" class="form-control" id="FarmerPhone" name="FarmerPhone" required />
    </div>
    <div>
        <label for="FarmerEmail">Farmer Email</label>
        <input type="email" class="form-control" id="FarmerEmail" name="FarmerEmail" required />
    </div>
    <div>
        <label for="FarmerPassword">Farmer Password</label>
        <input type="password" class="form-control" id="FarmerPassword" name="FarmerPassword" required />
    </div>
    
    <button type="submit" class="btn btn-primary">Add Farmer</button>
</form>
